.tn_main_wrapper {
    display: flex;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    .tn_content {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 10px;
        justify-content: space-between;
        .tn_col {
            display: flex;
            height: 100%;
            width: fit-content;
            align-items: center;
            .tn_notifications_wrapper { 
                display: flex;
                height: 100%;
                width: fit-content;
                ul {
                    display: flex;
                    list-style-type: none;
                    align-items: center;
                    height: 100%;
                    width: fit-content;
                    li {
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
            .tn_profile_wrapper {
                display: flex;
                height: 100%;
                width: fit-content;
                align-items: center;
            }
        }
        .tn_links_wrapper {
            display: flex;
            height: 100%;
            width: fit-content;
            ul {
                display: flex;
                height: 100%;
                width: fit-content;
                align-items: center;
                list-style-type: none;
                column-gap: 10px;
                padding: 10px;
                li {
                    display: flex;
                    height: 100%;
                    width: fit-content;
                    align-items: center;
                    a {
                        //styleName: Subtitle Semi Bold;
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 600;
                        color: rgba(120, 116, 134, 1);
                        text-decoration: none;
                        &:hover {
                            color: #2E2E3A;
                        }
                    }
                    &.active_true {
                        > a {
                            color: #0062FF;
                         }
                    }
                }
            }
        }
    }
}