.regular_btn {
    display: flex;
    height: 40px;
    width: fit-content;
    min-width: 141px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    border: none;
    // font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    &.regular_btn_text {
        background: none;
        border: none;
        color: white;
        &:hover {
            background: rgba(80, 48, 229, 0.65);
            // background: rgba(255, 255, 255, 0.512);
            // color: black;
        }
    }
    &.regular_btn_contained {
        background: white;
        border: none;
        &:hover {
            background: rgba(80, 48, 229, 1);
            color: white;
            box-shadow: 1px 1px 10px 2px rgb(81, 48, 229);
        }
    }
    &.regular_btn_outlined {
        background: none;
        border: 0.5px solid white;
        color: white;
        &:hover {
            background: rgba(80, 48, 229, 0.65);
        }
    }
    &.regular_btn_gradient {
        border-radius: 8px;
        background: linear-gradient(180deg, #5030E5 84.09%, #3C64F4 100%);
        color: white;
        //styleName: Body (L) • 18 sp/Medium;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        &:hover {
            box-shadow: 1px 1px 10px 4px rgba(94, 94, 94, 0.25);
        }
    }
    &:hover {
        cursor: pointer;
    }
    .regular_btn_loading_icon {
        display: flex;
        height: 100%;
        width: fit-content;
        align-items: center;
        justify-content: center;
        animation: animate-load-spin 0.8s linear infinite;
    }
}

.icon_btn {
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    position: relative;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    img {
        height: 18px;
        width: 18px;
        object-fit: contain;
    }
    span {
        display: flex;
        position: absolute;
        height: 16px;
        width: 16px;
        background: rgba(216, 114, 125, 1);
        font-size: 10px;
        top: -4px;
        right: -4px;
        color: white;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        // box-shadow: 1px 1px 2px 1px wheat;
        animation: animate-notification-badge 0.2s linear forwards;
    }
    &.icon_btn_text {
        background: none;
        &:hover {
            color: white;
            background: rgba(80, 48, 229, 1);
        }
    }
    &.icon_btn_contained {
        background: rgba(80, 48, 229, 0.65);
        color: white;
        &:hover {
            background: rgba(80, 48, 229, 1);
        }
    }
    &.icon_btn_outlined {
        background: none;
        border: 0.5px solid rgba(219, 219, 219, 1);
        &:hover {
            color: white;
            background: rgba(80, 48, 229, 1);
        }
    }
    &.icon_btn_util {
        height: 24px;
        width: 24px;
        border-radius: 8px;
        background: rgba(80, 48, 229, 0.08);
        color: rgba(80, 48, 229, 1);
        font-size: 20px;
        &:hover {
            cursor: pointer;
            background: rgba(80, 48, 229, 1);
            color: white;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

.side_nav_btn {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    border-radius: 6px;
    background: none;
    color: rgba(120, 116, 134, 1);
    border: none;
    // font-size: 1px;
    font-size: 14px;
    font-weight: 500;
    &.btn_primary {
        &:hover {
            cursor: pointer;
            background: rgba(80, 48, 229, 0.08);
        }
        &[data-active = true] {
            color: white;
            background: rgba(80, 48, 229, 1);
        }
    }
    &.btn_secondary {
        &:hover {
            cursor: pointer;
            color: rgba(80, 48, 229, 1);
        }
        &[data-active = true] {
            background: rgba(80, 48, 229, 0.08);
        }
    }
    span {
        display: flex;
        height: 100%;
        width: 40px;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }
}

@keyframes animate-load-spin {
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes animate-notification-badge {
    0%
    {
        transform: scale(0.6);
    }
    100%
    {
        transform: scale(1);
    }
}