* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: 0px;
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
}

@import "./fonts.scss";

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
