.profile_icon_wrapper {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    span {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid rgb(175, 175, 175);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      span[data-elm-type = "user-profile-img-placeholder"] {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: rgba(120, 116, 134, 1);
        background: rgb(175, 175, 175);
        // background: gray;
      }
    }
    .profile_details_wrapper {
      &[data-elm-isActive = "true"] {
        display: flex;
      }
      &[data-elm-isActive = "false"] {
        display: none;
      } 
      height: 200px;
      width: 300px;
      position: absolute;
      background: white;
      box-shadow: 1px 1px 20px 4px rgb(179, 179, 179);
      border-radius: 6px;
      animation: animate-profile-details-slide-in 0.4s linear;
      &.orientation_topright {
        top: -200px;
        left: 40px;
      }
      &.orientation_topleft {
        top: -200px;
        left: -290px;
      }
      &.orientation_bottomright {
        bottom: -200px;
        right: -290px;
      }
      &.orientation_bottomleft {
        bottom: -200px;
        right: 40px;
      }
    }
  }

.profile_icon_ribbon_wrapper {
  display: flex;
  height: fit-content;
  width: 100px;
  align-items: center;
  justify-content: center;
  position: relative;
  > div[data-elm-type = "profile-icon"] {
    position: absolute;
    min-height: 40px;
    min-width: 40px;
    border: 1px solid white;
    &:nth-child(1) {
      left: 0px;
    }
    &:nth-child(2) {
      left: 20px;
    }
    &:nth-child(3) {
      left: 40px;
    }
    &:nth-child(4) {
      left: 60px;
    }
    &:nth-child(5) {
      left: 80px;
    }
  }
  .profile_extra_placeholder {
    display: flex;
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    background: #F4D7DA;
    color: #D25B68;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    left: 60px;
  }
}
  
  @keyframes animate-profile-details-slide-in {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }