.cpf_form {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    .cpf_form_strip {
        display: flex;
        height: fit-content;
        min-height: 50px;
        width: 100%;
        justify-content: space-between;
        column-gap: 10px;
        .cpf_form_field {
            display: flex;
            height: fit-content;
            width: fit-content;
            align-items: center;
            column-gap: 10px;
            span {
                display: flex;
                width: 100px;
                align-items: center;
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                margin-right: 6px;
            }
            &.textarea_exception {
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                > textarea {
                    border: 1px solid #7784EE;
                    box-shadow: 0px 5px 15px rgba(119, 132, 238, 0.3);
                    border-radius: 8px;
                    outline: none;
                    padding: 10px;
                }
            }
            div[data-elm-type = "input"] {
                // border: 1px solid #7784EE;
                // box-shadow: 0px 5px 15px rgba(119, 132, 238, 0.3);
                select {
                    border: none;
                    &:focus {
                        box-shadow: 0px 5px 15px rgba(119, 132, 238, 0.3);
                    }
                }
                input {
                    &:focus {
                        box-shadow: 0px 5px 15px rgba(119, 132, 238, 0.3);
                    }
                }
            }
            .cpf_multi_option_input {
                display: flex;
                height: 40px;
                width: 100%;
                min-width: 200px;
                border: 1px solid rgba(225, 227, 230, 1);
                border-radius: 6px;
                transition-timing-function: ease-in-out;
                transition-duration: 0.4s;
                padding: 4px;
                max-width: 300px;
                overflow-x: auto;
                scrollbar-width: 0px;
                align-items: center;
                &::-webkit-scrollbar {
                    display: none;
                }
                span {
                    width: fit-content;
                }
                &:hover {
                    box-shadow: 0px 5px 15px rgba(119, 132, 238, 0.3);
                    border: 1px solid rgb(95 95 253);
                    border-radius: 6px;
                }
                h4 {
                    font-family: Roboto;
                    color: gray;
                    font-weight: 200;
                    font-size: 14px;
                }
            }
            button[data-elm-type = "icon-btn-add"] {
                margin-left: 10px;
                height: 24px;
                width: 24px;
            }
        }
        &.cpf_form_submit_exception {
            align-items: center;
            justify-content: center;
        }
        button[type = "submit"] {
            background: rgba(80, 48, 229, 1);
            color: white;
            height: 50px;
            width: fit-content;
            min-width: 200px;
            border-radius: 14px;
            font-size: 14px;
            box-shadow: none;
            margin-top: 19px;
            &:hover {
                background: rgba(80, 48, 229, 0.65);
            }
        }
    }
}