.search_input_wrapper {
    display: flex;
    height: 44px;
    width: 300px;
    max-width: 417px;
    min-width: 200px;
    padding: 4px;
    background: rgba(245, 245, 245, 1);
    border-radius: 6px;
    > span {
        display: flex;
        height: 100%;
        width: 40px;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: rgba(120, 116, 134, 1);
    }
    > input {
        height: 100%;
        width: 100%;
        background: none;
        border: none;
        outline: none;
    }
}