.mtb_content {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px;
    flex-direction: column;
   .mtb_row {
       display: flex;
       height: fit-content;
       width: 100%;
       flex-direction: column;
       min-height: 200px;
       .mtb_row_header {
           display: flex;
           height: fit-content;
           width: 100%;
           flex-direction: column;
           border-bottom: 1px solid rgba(225, 227, 230, 1);
           .mtb_row_header_title {
               display: flex;
               height: 50px;
               width: 100%;
               align-items: center;
               //border-bottom: 1px solid rgba(225, 227, 230, 1);
               h3 {
                   font-family: DM Sans;
                   font-weight: 700;
                   color: #404D61;
                   font-size: 24px;
                   text-decoration: underline;
               }
           }
           .mtb_row_header_info {
                display: flex;
                height: 40px;
                width: 100%;
                align-items: center;
                h4 {
                    font-size: 16px;
                    color: #757D8A;
                    font-family: DM Sans;
                    font-weight: 500;
                }
           }
       }
       .mtb_row_content {}
   }
}
