.profile_pic_wrapper {
    display: flex;
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 50%;
    position: relative;
    border: 0.5px solid gray;
    &.profile_pic_wrapper_loading {
        animation: animate-profile-pic-border-loading 1s linear infinite;
    }
    .profile_pic_upload_btn {
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 0.5px solid gray;
        position: absolute;
        bottom: 0%;
        right: 0%;
        font-size: 18px;
        background: white;
        transition-timing-function: ease-in-out;
        transition-duration: 0.4s;
        &:hover {
            cursor: pointer;
            transform: scale(1.04);
            font-size: 20px;
            background: rgba(80, 48, 229, 1);
        }
    }
    &:hover {
        cursor: pointer;
    }
}

.profile_widget_wrapper {
    display: flex;
    height: 100%;
    max-height: 70px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    &.pw_orientation_normal {
        flex-direction: row;
    }
    &.pw_orientation_reversed {
        flex-direction: row-reverse;
    }
    &.pw_hasInfo {
        width: 200px;
    }
    .pw_info_wrapper {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 10px;
        .pw_username_wrapper {
            display: flex;
            height: fit-content;
            width: 100%;
            justify-content: flex-end;
            h4 {
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: right;
            }
        }
        .pw_location_wrapper {
            display: flex;
            height: fit-content;
            width: 100%;
            justify-content: flex-end;
            color: rgba(120, 116, 134, 1);
            h5 {
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: right;
            }
        }
    }
    .pw_pic_wrapper {
        display: flex;
        height: 50px;
        width: 50px;
        min-width: 50px;
        min-height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .pw_pic {
            display: flex;
            height: 100%;
            width: 100%;
            max-height: 40px;
            max-width: 40px;
            align-items: center;
            justify-content: center;
            border: 0.5px solid rgba(219, 219, 219, 1);
            border-radius: 50%;
            position: relative;
            padding: 4px;
            font-size: 20px;
            color: rgba(219, 219, 219, 1);
            img {
                border-radius: 50%;
            }
        }
    }
}

@keyframes animate-profile-pic-border-loading {
    0%
    {
        border: 0.5px solid red;
    }
    25%
    {
        border: 0.5px solid greenyellow;
    }
    50%
    {
        border: 0.5px solid blue;
    }
    75%
    {
        border: 0.5px solid crimson;
    }
}