.tlst_content {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    .tlst_header {
        display: flex;
        height: 100px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        .tlst_title_block {
            display: flex;
            height: 100%;
            width: fit-content;
            flex-direction: column;
            h2 {
                font-family: Roboto;
                font-size: 50px;
                font-weight: 400;
                line-height: 63px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
    .tlst_nav_wrapper {
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: center;
        .tlst_nav {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            background: #F9F9F9;
            border: 1px solid rgba(223, 224, 235, 1);
            border-radius: 16px;
            .tlst_nav_col {
                display: flex;
                height: 100%;
                width: fit-content;
                align-items: center;
                gap: 10px;
                div[data-elm-type = "input"] {
                    border: 1px solid rgba(225, 227, 230, 1);
                    border-radius: 6px;
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.4s;
                    input {
                        border: none;
                        border-radius: 6px;
                    }
                    select {
                        border: none;
                        border-radius: 6px;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    &:hover {
                        box-shadow: 0px 5px 15px rgba(119, 132, 238, 0.3);
                        border: 1px solid rgb(95 95 253);
                        border-radius: 6px;
                    }
                }
                span {
                    display: flex;
                    height: 100%;
                    width: fit-content;
                    align-items: center;
                    justify-content: center;
                    label {
                        width: 100px;
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 0em;
                        color: #787486;
                    }
                }
                button[data-elm-type = "btn-add"] {
                    height: 40px;
                    border-radius: 10px;
                    color: #787486;
                    border: 1px solid rgba(223, 224, 235, 1);
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 29px;
                    letter-spacing: 0em;
                    text-align: left;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    .tlst_boards_wrapper {
        display: flex;
        height: fit-content;
        width: 100%;
        padding: 10px;
        justify-content: space-evenly;
        column-gap: 10px;
    }
}